<!DOCTYPE html>

<html xmlns:th="https://thymeleaf.org" >
<head>
    <title> Central Metro System </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- External Cascading Style Sheet -->
    <link th:href="@{/styles/metro.css}" rel="stylesheet" />
</head>
<body>
    
    <!-- NAV -->
<nav class="navbar">
    <div class="container-fluid">
        <div class="button-container">
        <a class="navbar-image" href="#">
            <img alt="MetroLogo" th:src="@{/images/metro.gif}">
        </a>
        </div>
        <!--  Top Up Balance </h1> --><h1>
    </div>
</nav>
  
<br></br>

<!-- MAIN CONTENT -->
<div class="main-container">
    
    <!-- table printing user ticket of single transaction -->    
    <table>
        
        
        <tr>
            <td>
                <h3 th:text="'Transaction Ticket : ' + ${session.user.userName}"> </h3>
            </td>
        </tr>
        
        <tr>
            <th> Starter Balance </th>
            <th> Source Station </th>
            <th> Source Swipe In Date & Time </th>
            <th> Remaining Balance </th>
            <th> Destination Station </th>
            <th> Destination Swipe In Date & Time </th>
            <th> Total Cost of Journey </th>
        </tr>

        <!-- map transaction object to table  -->
        <tr th:each="transaction : ${transactions}">
            
            <td class="show" th:text="transaction.starterBalance">
            <td class="show" th:text="transaction.sourceStation">
            <td class="show" th:text="transaction.sourceSwipeInDateTime">
            <td class="show" th:text="transaction.remainingBalance">
            <td class="show" th:text="transaction.destinationStation">
            <td class="show" th:text="transaction.destinationSwipeOutDateTime">
            <td class="show" th:text="transaction.price">
        </tr>
       
        
        <!-- return to home -->
        <tr>
            <td class="logout">
                <a href="./landingPage"> Logout </a>
            </td>
        </tr>


    </table>
        
   
</div>
    
    
</body>
</html>
