<!DOCTYPE html>

<html xmlns:th="https://thymeleaf.org" >
<head>
    <title> Central Metro System </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- External Cascading Style Sheet -->
    <link th:href="@{/styles/metro.css}" rel="stylesheet" />
</head>
<body>
    
 <!-- NAV -->
<nav class="navbar">
    <div class="container-fluid">
        <div class="button-container">
            <a class="navbar-image" href="#">
                <img alt="MetroLogo" th:src="@{/images/metro.gif}">
            </a>
        </div>
    </div>
</nav>
  
<br></br>

<!-- MAIN CONTENT -->
<div class="display-container">
    
    <!-- table printing user ticket of single transaction -->    
    <table class="ticket-display-table">
        
        <tr>
            <h3 class="display-username"> Central Metro System Ticket </h3>
        </tr>
        
        <tr>
           <h1 class="display-username" th:text="${session.user.userName}"> </h1> 
        </tr>
        
        <tr>
            <th class="header"> Starter Balance </th>
            <th class="header"> Source Station </th>
            <th class="header"> Source Swipe In Date & Time </th>
            <th class="header"> Remaining Balance </th>
            <th class="header"> Destination Station </th>
            <th class="header"> Destination Swipe In Date & Time </th>
            <th class="header"> Total Cost of Journey </th>
        </tr>

        <!-- map transaction object to table  -->
        <tr>
            
            <td class="show" th:text="${transaction.starterBalance}"></td>
        
            <td class="show" th:text="${transaction.sourceStation}"></td>
       
            <td class="show" th:text="${transaction.sourceSwipeInDateTime}"></td>
      
            <td class="show" th:text="${transaction.remainingBalance}"></td>
        
            <td class="show" th:text="${transaction.destinationStation}"></td>
        
            <td class="show" th:text="${transaction.destinationSwipeOutDateTime}"></td>
        
            <td class="show" th:text="${transaction.price}"></td>
            
        </tr>

    </table>
        
    
    <div class="display-button-container">

         <button type="button" class="redirect-button">
             <a href="./home">
                 <span class="text"> RETURN TO HOME </span>
             </a>
         </button>

     </div>
   
</div>
    
    
</body>
</html>
