<!DOCTYPE html>

<html xmlns:th="https://thymeleaf.org" >
<head>
    <title> Central Metro System </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- External Cascading Style Sheet -->
    <link th:href="@{/styles/metro.css}" rel="stylesheet" />
</head>
<body>
    
    <!-- NAV -->
<nav class="navbar">
    <div class="container-fluid">
        <div class="button-container">
            <a class="navbar-image" href="#">
                <img alt="MetroLogo" th:src="@{/images/metro.gif}">
            </a>
        </div>
    </div>
</nav>
  
<br></br>

<!-- MAIN CONTENT -->
<div class="balance-container">
    
    <!-- table showing balance -->    
    <table>

        <!-- title of form -->
        <tr>
            <td>
                <h3 class="header" th:text="' Current Balance :  ' + ${session.user.userName}"></h3>
            </td>
        </tr>

        <!-- display balance -->
        <tr>
            <td class="show" th:text="${session.user.userBalance}">
        </tr>

    </table>
    
    <!-- return to home -->
    <div class="display-button-container">
    
        <button type="button" class="redirect-button">
            <a href="./home">
                <span class="text"> RETURN TO HOME </span>
            </a>
        </button>
    
    </div>
        
   
</div>
    
    
</body>
</html>