<!DOCTYPE html>

<html xmlns:th="https://thymeleaf.org" >
<head>
    <title> Central Metro System </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- External Cascading Style Sheet -->
    <link th:href="@{/styles/metro.css}" rel="stylesheet" />
</head>
<body>
    
    <!-- NAV -->
<nav class="navbar">
    <div class="container-fluid">
        <div class="button-container">
            <a class="navbar-image" href="#">
                <img alt="MetroLogo" th:src="@{/images/metro.gif}">
            </a>
        </div>
    </div>
</nav>
  
<br></br>

<!-- MAIN CONTENT -->
<div class="topup-balance-container">
    
    <!-- TOP UP BALANCE FORM -->
    <form action="./topUpBalance" method="post">
        
        <table class="input-table">
            
            <tr>
                <td>
                    <h3 class="balance-header" th:text="' Please Enter Amount ' + ${session.user.userName} + ':'"></h3>
                </td>
            </tr>
            
            <!-- balance input -->
            <tr>
                <td>
                    <input type="text" name="amount" placeholder="Enter Amount" required />
                </td>
            </tr>
            
            <!-- top up balance -->
            <tr>
                <td>
                    <input type="submit" value="TOP UP" class="form-button" required />
                </td>
            </tr>
            
        </table>
        
    </form>
    
     <div class="display-button-container">
        <button type="button" class="redirect-button">
            <a href="./home">
                <span class="text"> RETURN TO HOME </span>
            </a>
        </button>
    </div>
    
    
</body>
</html>