
/* 
    Created on : 10 Dec 2022, 12:28:25
    Author     : kharileigh
*/


body {
    background-color: black; 
    overflow-x: scroll;
    overflow-y: scroll;
    font-family: monospace;
}


/*----------------- NAVBAR ---------------- */
nav {
    display : flex;
    justify-content: center;
    position: fixed;
    padding: 150%;
    
}

.navbar {
    align-items: center;
    padding: 2px;
} 

.logo {
    align-items: center;
}

img {
    width : 150px;
    height : 150px;
    border-radius: 90px;

}




/* headings : VIVID ORANGE */
h1 {
    color: #ff6900;
    align-self: center;
    align-items: center;
}

h3 {
    color: #fff;
    align-self: center;
}


/* ---------------- HOMEPAGE --------------- */
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  margin-top: 1%;
}

.text {
    color : #fcb900;
    text-shadow: 0 0 0.125em rgba(254, 254, 254);
}

.redirect-button {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: monospace;
  font-size: 40px;
  font-weight: 300;
  justify-content: center;
  line-height: 24px;
  margin-top: -125px;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 46px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  -webkit-user-select: none;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .redirect-button {
    padding: 19px 32px;
  }
}

.redirect-button:before,
.redirect-button:after {
  border-radius: 80px;
}

.redirect-button:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.redirect-button:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.redirect-button:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
}

.redirect-button:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.redirect-button:active:not(:disabled) {
  color: #ccc;
}

.redirect-button:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.redirect-button:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.redirect-button:disabled {
  cursor: default;
  opacity: .24;
}


/*-------------- NEW USER --------------*/
.main-container {
    align-items: center;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    
    background-color: black;
    opacity: 0.80;
    width: 500px;
    height: 550px;
    margin: 30px auto;
        
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    -moz-box-shadow: 0px 0px 44px 1px rgb(167, 88, 18), 0px 0px 44px 1px rgb(167, 88, 18);
    -webkit-box-shadow: 0px 0px 44px 1px rgb(167, 88, 18), 0px 0px 44px 1px rgb(167, 88, 18);
}

.input-table {
    width : 100%;
}

.input-table, tr, td {
    padding: 8px 6px;
}

input {
    width: 445px;
    height: 40px;
    color: black;
    opacity: 0.90;
}

.form-button {
    background-color: rgb(167, 88, 18);
    border: none;
    color: white;
    cursor: pointer;
    height: 40px;
    opacity: 0.90;
    text-align: center;
    width: 452px;
    
    font-size: 15px;
    font-weight: 300;
}

.return-to-home {
    background-color: rgb(167, 88, 18);
    border: none;
    color: white;
    cursor: pointer;
    height: 40px;
    opacity: 0.90;
    text-align: center;
    width: 452px;
    
    font-size: 15px;
    font-weight: 300;
}

/*-------------- NEW USER / SHOW BALANCE--------------*/
select, .show-balance {
    background-color: white;
    border: none;
    color: black;
    cursor: pointer;
    height: 40px;
    opacity: 0.90;
    text-align: center;
    width: 452px;
}


/*-------------- DISPLAYS TO USER --------------*/
.display-container {
    align-items: center;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    
    background-color: black;
    opacity: 0.80;
    width: 80%;
    height: 70%;
    margin: 350px auto;
        
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    -moz-box-shadow: 0px 0px 44px 1px rgb(167, 88, 18), 0px 0px 44px 1px rgb(167, 88, 18);
    -webkit-box-shadow: 0px 0px 44px 1px rgb(167, 88, 18), 0px 0px 44px 1px rgb(167, 88, 18);
    
}

.balance-container {
    align-items: center;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    
    background-color: black;
    opacity: 0.80;
    width: 500px;
    height: 70%;
    margin: 350px auto;
        
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    -moz-box-shadow: 0px 0px 44px 1px rgb(167, 88, 18), 0px 0px 44px 1px rgb(167, 88, 18);
    -webkit-box-shadow: 0px 0px 44px 1px rgb(167, 88, 18), 0px 0px 44px 1px rgb(167, 88, 18); 
}

.display-username {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

.header {
   background-color: black;
   color: #fcb900; 
   height: 40px;
   opacity: 0.90;
   
   font-family: monospace;
   font-size: 20px;
   font-weight: 300;
   text-align: center;
   
   padding : 15px;
   
}

.show {
    background-color: white;
    color: black;
    height: 40px;
    opacity: 0.90;
    
    font-family: monospace;
    font-size: 20px;
    font-weight: 250;
    text-align: center;
    
    display : revert;
}

.display-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  margin-top: 100px;
}

.logout {
    background-color: rgb(167, 88, 18);
    border: none;
    color: white;
    cursor: pointer;
    height: 40px;
    opacity: 0.90;
    width: 100%;
    
    font-family: monospace;
    font-size: 20px;
    font-weight: 250;
    text-align: center;
}